@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* header */

.header__logo {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
}

.header__logo span {
    color: #000;
}

.header__menu {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #35444F;
    text-align: center;
}

.header__menu_item:last-child {
    border-right: 1px solid #FFFFFF;
}

.header__menu_link {
    display: inline-block;
    padding: 21px 40px;
    border-left: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    transition: .4s all;
}

.header__menu_link:hover {
    background-color: #222F3A;
}

/* main */

.main__area {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.panel {
    width: 345px;

}

.panel__menu {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

.panel__menu_link {
    font-weight: 400;
    font-size: 27px;
    line-height: 1;
    color: #485863;
    display: inline-block;
    width: 100%;
    padding: 25px 44px;
    transition: .4s all;
}

.panel__menu_link:hover {
    background-color: #DBDBDB;
    text-align: center;
    color: #000;
}

.description {
    max-width: 885px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.description__picture {
    text-align: center;
    padding: 75px 0;
    border: 1px solid #000000;
}

.description__picture img {
    transition: .8s all;
}

.description__picture img:hover {
    transform: scale(1.1);
}

.description__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: #2C2C2C;
}

/* footer */

.footer__components {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    padding: 0 40px;
}

.footer__menu {
    display: flex;
    gap: 30px;
}

.footer__menu_link {
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    color: #0C1927;
    transition: .4s all;
}

.footer__menu_link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;;
}

.footer__copyright {
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    color: #010101;
}